body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #051c2c;
  color: #ffffff;
  box-sizing: border-box;
}

.btns {
  grid-area: freeSpirit;
}
.btns {
  grid-area: achiever;
}
.btns {
  grid-area: caregiver;
}

.achievement {
  grid-area: achievement;
}
.conservation {
  grid-area: conservation;
}
.caring {
  grid-area: caring;
}
.freedom {
  grid-area: freedom;
}
.respect {
  grid-area: respect;
}
.tradition {
  grid-area: tradition;
}
.enjoyment {
  grid-area: enjoyment;
}
.stability {
  grid-area: stability;
}
.equityJustice {
  grid-area: equity-justice;
}

.circle {
  animation: fadeout 3000ms;
}

.grid-btns {
  display: grid;
  grid-template-areas: "freeSpirit achiever caregiver";

  padding-left: 150px;
  padding-right: 150px;
}

.grid-body {
  display: grid;
  grid-template-areas:
    "achievement conservation caring"
    "freedom respect tradition"
    "enjoyment stability equity-justice";
  gap: 10px;
  padding: 10px;
}

.grid-btns > div {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
}

.selected-btn {
  color: #051c2c;
  background-color: #ffffff;
  cursor: pointer;
}

.grid-body > div {
  display: flex;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-radius: 100%;
  border-width: 2px;
  padding: 20px 20px;
  margin: 20px;
  width: 166px;
  height: 166px;
  box-sizing: border-box;
  font-size: 16px;
}

/* largest inner circle */
.inner-circle-one {
  background-color: rgba(0, 169, 244, 1); /* converted for #00a9f4 */
  border-radius: 100%;
  padding: 0px !important; /* ((166px / 2) -2px border - 0px padding)*2 = 162px inner circle width */
  background-clip: content-box;
  background-color: #00a9f4;
  animation: fadein 3000ms;
}

/* second-largest inner cirlce */
.inner-circle-two {
  background-color: rgba(0, 169, 244, 0.7); /* converted for #00a9f4 */
  border-radius: 100%;
  padding: 20.5px !important; /* ((166px / 2) -2px border - 20.5px padding)*2 = 121px inner circle width */
  background-clip: content-box;
  background-color: #00a9f4;
  animation: fadein 3000ms;
}

/* third-largest inner cirlce */
.inner-circle-three {
  background-color: rgba(0, 169, 244, 0.4); /* converted for #00a9f4 */
  border-radius: 100%;
  padding: 41.5px !important; /* ((166px / 2) -2px border - 41.5px padding)*2 = 79px inner circle width */
  background-clip: content-box;
  animation: fadein 3000ms;
}

/* fourth-largest or smallest inner cirlce */
.inner-circle-four {
  background-color: rgba(0, 169, 244, 0.2); /* converted for #00a9f4 */
  border-radius: 100%;
  padding: 62px !important; /* ((166px / 2) -2px border - 62px padding)*2 = 38px inner circle width */
  background-clip: content-box;
  animation: fadein 3000ms;
}

@keyframes fadein {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
